# Requis (aucune valeur par défaut)
WIKI_DB_CONNEXION=postgresql://user:password@localhost:5432/wiki_db

# Serveur
WIKI_BINDING_HOST=0.0.0.0
WIKI_BINDING_PORT=8081
WIKI_LOG_LEVEL=debug

# Base
WIKI_DB_MIN_CON=5
WIKI_DB_MAX_CON=50

# RAG
WIKI_EMBEDDINGS_MODEL_NAME=BAAI/bge-m3
WIKI_LLM_MODEL_NAME=llama3.1
WIKI_OLLAMA_URL=http://localhost:11434
WIKI_PGVECTOR_DIM=1024
WIKI_TOP_K=5
WIKI_CHUNK_SIZE=800
WIKI_CHUNK_OVERLAP=120

# Auth Keycloak
WIKI_JWT_AUTHORITY_DOMAIN=https://auth.wearedigijob.com
WIKI_KC_REALM=digijob
WIKI_JWT_AUDIENCE=account
